<header class="header">
	<nav role="navigation">
		<ul class="header-nav container">
			<li class="header-logo">
				<a href="/"><span>Homepage</span></a>
			</li>
			<li>{{#link-to "about"}}About{{/link-to}}</li>
			<li>{{#link-to "contact"}}Contact{{/link-to}}</li>
		</ul>
	</nav>
</header>

<div class="container">
	{{outlet}}
</div>

<footer></footer>
